# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# IDE
.idea/
.vs/
.vscode/
*.csproj
*.sln
*.slnx
.vsconfig

# OS
.DS_Store
Thumbs.db

# Java build output
Plugins/Android/java-src/build/
